extends layout

block content
	script(src="/javascripts/filelist.js").
	h1= title
	p
		div(id="newDir", class="button") Create new Directory
		div(id="newFile", class="button") Create new File
	p
		a(href="#{goup}") #{goup}
	ul(style="list-style-type:none;", id="fileList")
		each item in list
			li: a(href="#{item}") #{item}
